.card {
  border: .063rem solid #f3f3f3;
  padding: 1.875rem;
  width: 13.75rem;
  border-radius: 2.5rem;
  margin-right: 1.875rem;
  margin-bottom: 1.875rem;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  .plus {
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0rem 1.25rem 2.188rem rgba(0, 0, 0, 0.06);
    transform: translateY(-0.313rem);
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  span {
    font-size: .813rem;
    opacity: 0.5;
    text-transform: uppercase;
  }

  b {
    font-size: .875rem;
  }

  h5 {
    font-weight: 400;
    font-size: .875rem;
  }
}